head {
    display: none;
}
title {
    display: none;
}
link {
    display: none;
}
body {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    background-color: #1f2039;
}
* {
    margin: 0;
}
header, footer {
    background-color: white;
    padding: 20px 50px;
}
header {
    display: block;
    unicode-bidi: isolate;
}
footer, nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.lien-icone {
    margin-left: 30px;
}
a {
    color: #242424;
    text-decoration: none;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
nav a {
    margin-left: 30px;
}
div {
    display: block;
    unicode-bidi: isolate;
}
main {
    display: block;
    unicode-bidi: isolate;
}
.accueil-introduction {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    align-items: flex-start;
    margin: auto;
}
section {
    padding: 80px;
}
.accueil-introduction div {
    padding-right: 80px;
}
h1 {
    font-size: 3.5em;
    color: #a5b4fc;
    font-family: 'Montserrat', sans-serif;
}
.accueil-introduction h1 {
    margin-bottom: 15px;
}
p, li {
    font-size: 1.1em;
    color: #f9f8ff;
}
.accueil-introduction p {
    margin-bottom: 30px;
}
em {
    color: #a5b4fc;
    font-style: normal;
}
.cta {
    display: inline-block;
    background: linear-gradient(#8e86b5, #acaeed);
    color: white;
    border-radius: 50px;
    padding: 20px 30px;
}
.accueil-photos {
    background-color: white;
    padding: 80px;
}
.accueil-photos h2 {
    color: #242424;
    text-align: center;
    margin-bottom: 80px;
}
.section-contact h2 {
    color: #a5b4fc;
    text-align: center;
    margin-bottom: 50px;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
    color: white;
}
.form-nom-email {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
label {
    margin-bottom: 10px;
}
input, textarea {
    padding: 15px;
    border-radius: 3px;
    border: none;
}
input[type='submit'] {
    width: 200px;
    margin: auto;
    margin-top: 30px;
}
